body
{
	background-color: black;
	display: block;
	margin: 0 auto;
}
nav
{
	display: block;
	float: left;
	overflow-y: auto;
	width: 12em;
}
	nav button
	{
		background-color: black;
		border: 1px solid yellow;
		color: white;
		display: block;
		font-size: 1.5em;
		margin: 5px;
		padding: 10px;
		text-decoration: none;
	}
	nav button:last-child
	{
		border-bottom: 1px solid yellow;
	}
	nav button:hover
	{
		background-color: yellow;
		color: black;
		cursor: pointer;
	}
	nav button:focus
	{
		outline: none;
	}
#currentMap
{
	display: block;
	right: 10%;
	margin: 0 auto;
	max-height: 100%;
	max-width: 80%;
	position: absolute;
}
#mortar
{
	display: block;
	position: absolute;
	transform: translate(-50%,-50%);
	visibility: hidden;
	width: 20px;
}
#target
{
	display: block;
	position: absolute;
	transform: translate(-50%,-50%);
	visibility: hidden;
	width: 20px;
}
section
{
	position: absolute;
	top: 0;
	right: 0;
}
p
{
	color: red;
	position: absolute;
	top: 70%;
}